.header
{
	width: 100%;
	/*max-width: 2011px;*/
	background-color: #007765;
	position: fixed;
	background-size: cover;
	/*padding: 21px 0px 21px 0px;*/
	height: 84px;
	top: 0;
	left: 0;
	margin: 0 auto;
}

.container
{
	max-width: 1219px;
	margin: 0 auto;
	padding: 0 55px;
}

.logo
{
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 200px;*/
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    float: left;
    vertical-align: middle;
}

.head
{
	/*margin-top: 15px;*/
	/*float: left;*/
	display: inline-block;
	text-align: right;
	font-size: 24px;
	color: white;
	margin: 0;
	padding: 0;
	/*display: inline-grid;*/
}

.menu
{
	float: right;
	padding-top: 27.2px;
	padding-bottom: 27.2px;
	margin: 0 auto;
}

.problem_link
{
	color: white;
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	padding-right: 20px;
}

.team_link
{
	color: white;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

.ppcoin_link
{
	color: white;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

.pp_is_here
{
	padding-top: 120px;
	padding-bottom: 120px;
	background-image: url(../img/image.svg);
	background-size: cover;
	margin-top: 84px;
	width: 100%;
	background-position: center center;
	/*position: static;*/
	top: 84px;
	/*height: 403px;*/
}

.piper_text
{
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 84px;
	color: #FFFFFF;
	/*vertical-align: middle;*/
}

.problem
{
	background-color: #EEEEEE;
	/*position: absolute;
	top: 487px;
	left: 0;*/
	margin-top: 487; 
	padding-top: 359.5px;
	padding-bottom: 359.5px;
}

body
{
	margin: 0;
}

div section
{
	display: inline-block;
}

.probl
{
	box-sizing: border-box;
	padding-top: 48px;
	padding-bottom: 92px;
}

#problem
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}

.problem_text
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;

	color: #000000;
}